* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  min-height: 100vh;
}

form {
  font-size: 1.25em;
  line-height: 1.5em;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  min-height: calc(100vh - 40px - 40px);
}

.input-group {
  margin: 20px 0;
}

.full-width {
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
}

input[type=text] {
  background-color: rgba(255, 0, 0, 0.7);
}
